.body-card
  .header
    .header__icon
      = link_to image_tag("fmarket_logo_red.svg", class: "header__icon__image"), "/"
    .header__status
      .header__status__line
        .header__status__line__menber
          会員情報
          .header__status__line__menber__box
        .header__status__line__number
          電話番号認証
          .header__status__line__number__box
        .header__status__line__address
          お届け先住所入力
          .header__status__line__address__box
        .header__status__line__pay
          支払い方法
          .header__status__line__pay__box
        .header__status__line__done
          完了
          .header__status__line__done__box
  .main
    = form_for @user, url: "/signup", method: :post, html: {class: 'main__container'} do |f|
      .main__container__header
        支払い方法
      = f.fields_for :card, html: {class: 'main__container__form'} do |i|
        .main__container__form__card
          .main__container__form__card__title
            カード番号
          .main__container__form__card__require
            必須
          = i.text_field :card_number, type: "text", placeholder:"半角数字のみ", class: "main__container__form__card__number"
          .main__container__form__card__image
            = image_tag("credit-card_22@0.5.png", class: "main__container__form__card__image__icon")
            = image_tag("credit-card_9@0.5.png", class: "main__container__form__card__image__icon")
            = image_tag("credit-card_26@0.5.png", class: "main__container__form__card__image__icon")
            = image_tag("jcb-logomark-img-01.gif", class: "main__container__form__card__image__icon")
            = image_tag("amex-logomark-img-04.gif", class: "main__container__form__card__image__icon")
            = image_tag("diners-logomark-img-01.gif", class: "main__container__form__card__image__icon")
            = image_tag("discover-logomark-img-08.gif", class: "main__container__form__card__image__icon")
        .main__container__form__limit
          .main__container__form__limit__title
            有効期限
          .main__container__form__limit__require
            必須
          .main__container__form__limit__month
            = i.select :limit_month, type: "text", placeholder:"" do
              %option{value: "1"} 1
              %option{value: "2"} 2
              %option{value: "3"} 3
              %option{value: "4"} 4
              %option{value: "5"} 5
              %option{value: "6"} 6
              %option{value: "7"} 7
              %option{value: "8"} 8
              %option{value: "9"} 9
              %option{value: "10"} 10
              %option{value: "11"} 11
              %option{value: "12"} 12
            月
          .main__container__form__limit__year
            = i.select :limit_year, type: "text", placeholder:"" do
              %option{value: "20"} 20
              %option{value: "21"} 21
              %option{value: "22"} 22
              %option{value: "23"} 23
              %option{value: "24"} 24
              %option{value: "25"} 25
              %option{value: "26"} 26            
            年
        .main__container__form__security
          .main__container__form__security__title
            セキュリティーコード
          .main__container__form__security__require
            必須
          = i.text_field :security_code, type: "text", placeholder:"カードの背面4桁もしくは3桁の番号", class: "main__container__form__security__number"
        .main__container__form__question
          .main__container__form__question__mark
            %span ?
            カードの裏面の番号とは？
        .main__container__form__btn
          = f.submit "次へ進む" ,class: "main__container__form__btn__red" 
  .footer
    .footer__center
      %nav
        %ul.menu
          %li
            = link_to "プライバシーポリシー","#"
          %li
            = link_to "メルカリ利用規約","#"
          %li
            = link_to "特定商取引に関する表記","#"
      .footer__center__logo
        =link_to image_tag("logo_gray.svg", width:"80", height:"65",class:"footer__center__logo--red"),"/"
      %p.inc
        ©︎Mercari,Inc.
        