.header
  .header-main
    .header-main__search-bar1
      .header-main__search-bar1__logo-button
        = link_to image_tag("fmarket_logo_red.svg", class: 'header-main__search-bar1__logo-button__image')
      .header-main__search-bar1__text
        = form_for "#" do |f|
          = f.text_field :text, class: 'header-main__search-bar1__text__form', placeholder: '何かお探しですか？'
        .header-main__search-bar1__text__box
          %label{class: "input-box__image"}
            = icon('fas', 'search', class: 'header-main__search-bar1__text__box__icon')
            %button.header-main__search-bar1__text__box__button
    .header-main__search-bar2
      .header-main__search-bar2__genre-search
        .header-main__search-bar2__genre-search__category-search
          %a.header-main__search-bar2__genre-search__category-search__category-image{:href => "/jp/category"}
            %i.fas.fa-bars
            %font{:size => "2"} カテゴリーから探す
        .header-main__search-bar2__genre-search__brands-search
          %a.header-main__search-bar2__genre-search__brands-search__brands-image{:href => "/jp/brands"}
            %i.fas.fa-tag
            %font{:size => "2"} ブランドから探す
      - if user_signed_in?
        %ul.header-main__search-bar2__auth-box
          %li.header-main__search-bar2__auth-box__iine
            %a.iine-image{:href => "/jp/iine"}
              %i.far.fa-heart
              %font{:size => "2"} いいね！一覧
          %li.header-main__search-bar2__auth-box__notice
            %a.notice-image{:href => "/jp/notice"}
              %i.far.fa-bell
              %font{:size => "2"} お知らせ
          %li.header-main__search-bar2__auth-box__todo
            %a.todo-image{:href => "/jp/"}
              %i.fas.fa-check
              %font{:size => "2"} やることリスト
          %li.header-main__search-bar2__auth-box__mypage
            = link_to mypage_index_path,class: "mypage-image" do
              =icon('fas','smile')
              %font{:size => "2"} マイページ
      - else
        .header-main__search-bar2__new
          .header-main__search-bar2__new__singin
            = link_to "新規会員登録", "/signup/step1", class: "header-main__search-bar2__new__signin__btn" 
          .header-main__search-bar2__new__login
            = link_to "ログイン", "/users/sign_in", class: "header-main__search-bar2__new__login__btn"






      
