.wrapper
  = render 'post/header'
  -# - breadcrumb :mypage
  -# = render "breadcrumbs"
  = render 'sidebar'
  = render 'search_result'
  = render 'post/footer_image'
  = render 'post/footer'
  = render 'post/sell-camera'