.item-detail
  .item__detailpage
    .item__detailpage__box
      .item__detailpage__box__title
        = @item.name
      .item__detailpage__box__main
        .item__detailpage__box__main__image
          .item__detailpage__box__main__image__top
            = image_tag @image,size:"240x300"
          .item__detailpage__box__main__image__bottom
            .item__detailpage__box__main__image__bottom__column
        .item__detailpage__box__main__text
          .item__detailpage__box__main__text__box 
            .item__detailpage__box__main__text__box__column
              .item__detailpage__box__main__text__box__column__seller
                出品者
            .item__detailpage__box__main__text__box__content
              .item__detailpage__box__main__text__box__content__assessment
                = link_to @user, mypage_path(current_user.id)
                %end
          .item__detailpage__box__main__text__box
            .item__detailpage__box__main__text__box__column
              .item__detailpage__box__main__text__box__column__category
                カテゴリー
            .item__detailpage__box__main__text__box__content
              .item__detailpage__box__main__text__box__content__genre
                = @item.category
                %end
          .item__detailpage__box__main__text__box
            .item__detailpage__box__main__text__box__column
              .item__detailpage__box__main__text__box__column__box
                ブランド
            .item__detailpage__box__main__text__box__content
              .item__detailpage__box__main__text__box__content__text
                = @item.brand
                %end
          .item__detailpage__box__main__text__box
            .item__detailpage__box__main__text__box__column
              .item__detailpage__box__main__text__box__column__box
                商品の状態
            .item__detailpage__box__main__text__box__content
              .item__detailpage__box__main__text__box__content__text
                = @item.status
                %end
          .item__detailpage__box__main__text__box
            .item__detailpage__box__main__text__box__column
              .item__detailpage__box__main__text__box__column__box
                配送料の負担
            .item__detailpage__box__main__text__box__content
              .item__detailpage__box__main__text__box__content__text
                送料込み(出品者負担)
          .item__detailpage__box__main__text__box
            .item__detailpage__box__main__text__box__column
              .item__detailpage__box__main__text__box__column__box
                配送の方法
            .item__detailpage__box__main__text__box__content
              .item__detailpage__box__main__text__box__content__text
                = @item.delivery_method
                %end
          .item__detailpage__box__main__text__box
            .item__detailpage__box__main__text__box__column
              .item__detailpage__box__main__text__box__column__box
                配送元地域
            .item__detailpage__box__main__text__box__content
              .item__detailpage__box__main__text__box__content__text
                = link_to @item.delivery_area
                %end
          .item__detailpage__box__main__text__box
            .item__detailpage__box__main__text__box__column
              .item__detailpage__box__main__text__box__column__box
                配送日の目安
            .item__detailpage__box__main__text__box__content
              .item__detailpage__box__main__text__box__content__text
                = @item.delivery_date
                %end
      .item__detailpage__box__price
        .item__detailpage__box__price__main
          ¥
          = @item.price
          %end
        .item__detailpage__box__price__tax
          (税込)
        .item__detailpage__box__price__pastage
          送料込み
      .item__detailpage__box__purchase
        = @item.info
        %end
    .item__detailpage__comment
      .item__detailpage__comment__bot
        .item__detailpage__comment__bot__5
          = link_to edit_mypage_path(@item), class: 'edit-btn' do
            商品の編集
        .item__detailpage__comment__bot__7
          or
        .item_dess
          = link_to '#', class: 'item-stop' do
            出品を一旦停止
        .item_desk
          = link_to 'この商品を削除する',item_path, method: :delete,class: 'item-stop' 
            
          
    .item__detailpage__comment
      .item__detailpage__comment__box
        .item__detailpage__comment__box__1
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となる事があります。
        = text_area :content, class: 'item__detailpage__comment__box__2'
        = submit_tag 'コメントする', class: 'item__detailpage__comment__box__3'