.sell_list
  .sell_list__header 
    出品した商品
  .sell_list__boby
    %input{id: "tab1", name: "tab-radio", type: "radio", checked:"checked"}/
    %label{for:"tab1", class: "tab-radio"} 出品中
    %input{id: "tab2", name: "tab-radio", type: "radio"}/
    %label{for:"tab2", class: "tab-radio"} 取引中
    %input{id: "tab3", name: "tab-radio", type: "radio"}/
    %label{for:"tab3", class: "tab-radio"} 売却済み
  .sell_list__boby__content
    - @item.each do |item|
      .sell_list__boby__content__tab1{id: "tab1_content"}
        .sell_list__boby__content__tab1__list
          = link_to item_detail_mypage_path(item) do
            .sell_list__boby__content__tab1__list--text1
              = item.name
        
            -# .sell_list__boby__content__tab1__list--text2
            -#   = item.name
            -# .sell_list__boby__content__tab1__list--text3
            -# .sell_list__boby__content__tab1__list--text4
            -# .sell_list__boby__content__tab1__list--text5
              #{item.id}





    -# .sell_list__boby__content__tab2{id: "tab2_content"}
    -#   .sell_list__boby__content__tab1__discription


    -# .sell_list__boby__content__tab3{id: "tab3_content"}
    -#   .sell_list__boby__content__tab1__discription

    -# - @items.each do |item|
    -# .sell_list__boby__tab1__info{:style => "background-image: url(#{item.image});"}
    -# .sell_list__boby__tab2
      = image_tag src="logo_gray.svg",size: "200x200", class:"all-image" 
      %p.c-txtsp 取引中の商品はありません
    -# .sell_list__boby__tab3
    -#   = image_tag src="logo_gray.svg",size: "200x200", class:"all-image" 
    -#   %p.c-txtsp 取引中の商品はありま--ん