.sell_list
  .sell_list__header 
    売却済みの商品
  .sell_list__tab
    %input{id: "tab1", name: "tab-radio", type: "radio", checked:"checked"}/
    %label{for:"tab1", class: "tab-radio"}
      = link_to '出品中',sell_list_mypage_path(current_user.id)
    %input{id: "tab2", name: "tab-radio", type: "radio"}/
    %label{for:"tab2", class: "tab-radio"}
      = link_to '取引中',deal_mypage_path(current_user.id)
    %input{id: "tab3", name: "tab-radio", type: "radio"}/
    %label{for:"tab3", class: "tab-radio"} 売却済み
  .sell_list__body
    - @user_items.each do |item|
      .sell_list__body__tab1{id: "tab1_content"}
        = link_to item_detail_mypage_path(item) do
          .sell_list__body__tab1__list
            .sell_list__body__tab1__list__image
              = image_tag "#{item.images[0].image}",size:"48x63"
            .sell_list__body__tab1__list__name
              = item.name
