.wrapper
  = render 'post/header'
  - breadcrumb :exhibition
  = render "breadcrumbs"
  = render 'side_bar'
  = render 'deal'
  = render 'post/footer_image'
  = render 'post/footer'
  = render 'post/sell-camera'